/* Căn chỉnh chung */


/* Tiêu đề */
h1 {
    text-align: center;
    color: #2e9bce;
    margin-bottom: 20px;
    margin-top: 50px;
    font-size:x-large;
}

/* Form upload */
form#face-shape-form {
    height: 50vh;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form#face-shape-form label {
    font-weight: bold;
}

form#face-shape-form input[type="file"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form#face-shape-form button {
    padding: 10px 20px;
    background-color: #2e9bce;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form#face-shape-form button:hover {
    background-color: #2e9bce;
}

/* Kết quả */
#result {
    max-width: 600px;
    margin: 50px auto 30px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#result h2 {
    text-align: center;
    color: #333;
}

#result p {
    margin: 10px 0;
    text-align: center;
}

/* Biểu đồ */
#content-2 {
    margin-top: 20px;
}

.chart {
    margin-top: 20px;
    padding: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#chart-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Thanh biểu đồ */
#chart-container div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#chart-container label {
    min-width: 100px;
    font-weight: bold;
    color: #555;
}

#chart-container progress {
    width: 100%;
    height: 20px;
    border-radius: 5px;
    overflow: hidden;
    appearance: none;
    background-color: #e0e0e0;
}

#chart-container progress::-webkit-progress-bar {
    background-color: #e0e0e0;
    border-radius: 5px;
}

#chart-container progress::-webkit-progress-value {
    background-color: #2e9bce;
    border-radius: 5px;
}

#chart-container .percentage {
    font-weight: bold;
    color: #333;
}

/* Loading spinner */
#loading-spinner {
    display: none;
    text-align: center;
    margin-top: 20px;
}

#loading-spinner img {
    width: 50px;
    height: 50px;
}


