{% extends 'myapp/base.html' %}

{% block main %}
<!-- Main Content -->
<main>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/appointment.css' %}">
    <h1>Appointment</h1>
    <div class="container">

        <!-- Calendar Section -->
        <div class="calendar">
            <h2>Calendar</h2>
            <form method="GET">
                <p>{{ system_message }}</p>
                
                {% if end_datetime %}
                    <p>Just try again after {{ end_datetime }}</p>
                {% endif %}

                <!-- Calendar Widget -->
                <div class="calendar-widget">
                    <label for="appointment-store">Store</label>
                    <select id="appointment-store" name="appointment-store" class="form-control">
                        {% for store in stores %}
                            <option value="{{ store.id }}">{{ store.name }}</option>
                        {% endfor %}
                    </select>

                    <label for="appointment-date">Date</label>
                    <input id="appointment-date" name="appointment-date" type="date" class="form-control">

                    <label for="appointment-time">Time</label>
                    <input id="appointment-time" name="appointment-time" type="time" class="form-control">
                </div>

                <button class="btn-normal" id="btn-check-appointment" type="submit">Check</button>
            </form>
        </div>

        <!-- Upload Section -->
        <div class="upload">
            <h2>Upload</h2>

            <!-- Upload Form -->
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                <!-- Submit Button -->
                <button class="btn-normal" id="btn-submit-appointment" type="submit">Submit</button>
            </form>
        </div>

    </div>
</main>
{% endblock %}
