{% extends 'myapp/base.html' %}

{% block main %}
<!-- Main Content -->
<main>
    <h1>Appointment Manage</h1>
    <div class="container">

        <!-- Calendar Section -->
        <div class="calendar">
            <h2>Calendar</h2>
            <form method="GET">
                <div class="calendar-widget">
                    <label for="appointment-date">Date</label>
                    <input id="date" name="date" type="date" class="form-control">
                </div>
                <button class="btn-normal" id="btn-check-appointment" type="submit">Check</button>
            </form>
        </div>

        <!-- Appointment Data Section -->
        <div class="content">
            <h2>Check Data</h2>
            <div class="appointment">
                <div class="appointment-data">
                    <ul>
                        {% for appointment in appointment_data %}
                            <li>Name: {{ appointment.user.first_name }} {{ appointment.user.last_name }}</li>
                            <li>Email: {{ appointment.user.email }}</li>
                            <li>Phone: {{ appointment.user.phone_number }}</li>
                            <li>Date: {{ appointment.date }}</li>
                            <li>Time: {{ appointment.time }}</li>
                            <li>Status: {{ appointment.status }}</li>

                            {% if appointment.picture %}
                                <img id="appointment-img" src="{{ appointment.picture.url }}" alt="Appointment Image">
                            {% endif %}

                            <p>Message: {{ appointment.message }}</p>
                        {% empty %}
                            <li>No data available</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock %}
