<!DOCTYPE html>
<html lang="en">
  <style></style>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- title -->
    <title>{% block title %}ホームページ{% endblock %}</title>
    <!-- css -->
  </head>
  <!-- debug css  -->
  <style>
    body{
      margin: 0;
      font-family: monospace;
    }
    main {
      border: 1px dashed rgb(0, 102, 255);
    }

    ul{
      list-style-type: none;
    }

    a{
      color:black;
      text-decoration: none;
    }
    a:visited{
      color:purple
    }
  </style>
  <body>


    <!-- navbar -->
    {% include 'myapp/base_nav.html' %}

    <!-- main -->
    {% block main %}{% endblock %}

    <!-- footer -->
    {% include 'myapp/base_footer.html' %}
  </body>
</html>
