{% load static %}
<link rel="stylesheet" href="{% static 'css/base_nav.css' %}">

<!-- logo -->
<div class="logo">
  <a href="{% url 'myapp:home_page' %}">FitYourStyle</a>
</div>

<!-- navigation links -->
<ul>
  <li><a href="{% url 'myapp:home_page' %}">Home Page</a></li>
  
  <!-- Service Dropdown -->
  <li class="dropdown">
    <a href="#" class="dropbtn">Service</a>
    <ul class="dropdown-content">
      <li><a href="{% url 'myapp:face_shape_check' %}">Face Shape Check</a></li>
      <li><a href="{% url 'myapp:hair_style_suggestions' %}">Hair Style Suggestions</a></li>
      <li><a href="{% url 'myapp:virtual_hairstyle' %}">Virtual Hairstyle</a></li>
      <li><a href="{% url 'myapp:appointment_manage' %}">Appointment Manage</a></li>
      <li><a href="{% url 'myapp:appointment' %}">Appointment</a></li>
    </ul>
  </li>

  
  
  <!-- Buttons -->
  <li>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <button id="btn-login">Login</button>
    </form>
  </li>
  
  <!-- Logout form -->
  <li>
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button id="btn-logout">Logout</button>
    </form>
  </li>
</ul>
