{% extends 'myapp/base.html' %}
{% block main %}
<!-- main -->
<style>
    #content-1, #content-2, #content-3, #content-4 {
        border: 1px dashed rgb(0, 140, 255);
    }

    img.suggestion-img, img.searched-img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
        border: 1px solid black;
    }
</style>

<main id="hair_style_suggestions">
    <h1>Hair Style Suggestions</h1>
    <div class="container">
        <h2>Suggestion</h2>

        <!-- suggestion -->
        <div id="content-1" >
            <!-- face-shape-img -->
            <img style="
                width: 100px;
                height: 100px;
                border: 1px solid black;
                border-radius: 10px;
                "  
            id="face-shape-img" src="" alt=""
            >
            <br>
            <!-- gender -->
            <label>
                <input type="radio" name="gender" value="male">
                Male
            </label>
            <label>
                <input type="radio" name="gender" value="female">
                Female
            </label>
            <!-- face-shape -->
            <button class="btn-small" id="btn-oblong" >Oblong</button>
            <button class="btn-small" id="btn-oval" >Oval</button>
            <button class="btn-small" id="btn-heart" >Heart</button>
            <button class="btn-small" id="btn-square" >Square</button>
            <button class="btn-small" id="btn-round" >Round</button>
        </div>

        <!-- select-img -->
        <div id="content-2">
            <p>This is for u </p>
            <div class="suggestion-images">
                <img class="suggestion-img" src="" alt="">
                <img class="suggestion-img" src="" alt="">
                <img class="suggestion-img" src="" alt="">
                <img class="suggestion-img" src="" alt="">
                <img class="suggestion-img" src="" alt="">
                <img class="suggestion-img" src="" alt="">
            </div>
        </div>

    </div>

    <h2>Search Hair Styles</h2>
    <div class="container">
        <!-- search -->
        <div id="content-3">
            <!-- gender -->
            <label>
                <input type="radio" name="gender" value="male">
                Male
            </label>
            <label>
                <input type="radio" name="gender" value="female">
                Female
            </label>
            <br>
            <!-- search by category -->
            <div class="search" id="search-by-category" >
                <!-- short -->
                <label>
                    <input type="radio" name="hair-style" value="short">
                    Short
                </label>
                <!-- mid -->
                <label>
                    <input type="radio" name="hair-style" value="mid">
                    Mid
                </label>
                <!-- long -->
                <label>
                    <input type="radio" name="hair-style" value="long">
                    Long
                </label>
                <!-- perm -->
                <label>
                    <input type="radio" name="hair-style" value="Perm">
                    Perm
                </label>
                <br>
                <!-- button -->
                <button class="btn-normal" id="btn-search-by-category">Check</button>
            </div>
            <br>

            <!-- search-by-keyword -->
            <div class="search" id="search-by-keyword" >
                <input type="text" placeholder="Search" id="search">
                <button class="btn-small" id="btn-search-by-keyword">Search</button>
            </div>
        </div>

        <!-- searched-images -->
        <div id="content-4">
            <p>This is for u</p>
            <div class="searched-images">
                <img class="searched-img" src="" alt="">
                <img class="searched-img" src="" alt="">
                <img class="searched-img" src="" alt="">
                <img class="searched-img" src="" alt="">
                <img class="searched-img" src="" alt="">
                <img class="searched-img" src="" alt="">
            </div>
        </div>
    </div>
</main>
{% endblock %}