{% extends 'myapp/base.html' %}
{% block main %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home_page.css' %}">
</style>
    <h1>Home Page</h1>
    <div class="container">
        <div class="sub-page" id="face-shape-check">
            <div class="content">
                <h2><a href="{% url 'myapp:face_shape_check' %}">Face Shape Check</a></h2>
                <p>顔の形を分析して、あなたにぴったりのヘアスタイルを提案します！</p>
                <a href="{% url 'myapp:face_shape_check' %}" class="btn-normal">始まる-></a>
            </div>
            <div class="images">
                <img src="/media/myapp/picture/website/face_shape_check.jpg" alt="Face Shape Example 1">
                <img src="/media/myapp/picture/website/face_shape_check_2.jpg" alt="Face Shape Example 2">
            </div>
        </div>

        <div class="sub-page" id="suggestions">
            <div class="content">
                <h2><a href="{% url 'myapp:hair_style_suggestions' %}">Hair Style Suggestions</a></h2>
                <p>顔の形と性別に基づいてヘアスタイルの提案を受け取りましょう。</p>
                <a href="{% url 'myapp:hair_style_suggestions' %}" class="btn-normal">始まる-></a>
            </div>
            <div class="images">
                <img src="/media/myapp/picture/website/suggestion_1.jpg" alt="Hair Style Suggestion 1">
                <img src="/media/myapp/picture/website/suggestion_2.jpg" alt="Hair Style Suggestion 2">
            </div>
        </div>

        <div class="sub-page" id="virtual-hairstyle">
            <div class="content">
                <h2><a href="{% url 'myapp:virtual_hairstyle' %}">Virtual Hairstyle</a></h2>
                <p>さまざまなヘアスタイルをバーチャルで試して、自分に似合うか確認しましょう！</p>
                <a href="{% url 'myapp:virtual_hairstyle' %}" class="btn-normal">始まる-></a>
            </div>
            <div class="images">
                <img src="/media/myapp/picture/website/virtual_hairstyle.jpg" alt="Virtual Hairstyle 1">
                <img src="/media/myapp/picture/website/virtual_hairstyle2.jpg" alt="Virtual Hairstyle 2">
            </div>
        </div>

        <div class="sub-page" id="appointment">
            <div class="content">
                <h2><a href="{% url 'myapp:appointment' %}">Appointment</a></h2>
                <p>ヘアスタイルのチェンジのために、ぜひ私たちと予約を取りましょう！</p>
                <a href="{% url 'myapp:appointment' %}" class="btn-normal">始まる-></a>
            </div>
            <div class="images">
                <img src="/media/myapp/picture/website/appointment.jpg" alt="Appointment Example 1">
                <img src="/media/myapp/picture/website/appointment2.jpg" alt="Appointment Example 2">
            </div>
        </div>

    </div>
{% endblock %}
